.todo{
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: 1000px;
    min-height: -100vh;
    margin: -100px;
    text-align: top;
    
    opacity: 1;
    background: url("https://img.freepik.com/free-photo/top-view-circular-food-frame_23-2148723455.jpg?w=740&t=st=1696747643~exp=1696748243~hmac=8345c71b356df8d2d234fc9ffcfe60e3392e2f1207632b9df0027eb2863bfe94");
    background-size: cover;
    color: rgb(37, 16, 172)
}

.text{
    color: rgb(11, 191, 227);
    font-size: 30px;
}