.back{
 background-image: url('../assets/meennu.jpg');
 width: 175vh;
 min-height: 0vh;
 background-position: center;
 background-size: cover;
 padding: 100px 10%;
 overflow: hidden;
}

.tops{
    position:unset;
    left: 1000px;
    top: 100px;
    width: 150px;
    height: 180px;
    
}

.text{
    color: rgb(214, 2, 2);
    font-weight: 1500;
    left: 210px;
    top: -150px;
    font-size: 70px;
    position: relative;
    text-underline-position: below;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.soup{
    width: 100px;
    height: 150px;
}