.reserv{
  text-align: center;
  color: red;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width:  600px;
  background: rgb(244, 214, 214) ;
  padding-bottom: -30px;
  padding-top: 10px;
  top: 100px;
  font-size: 10px;
  font-weight: 100;
  margin: -50px -100px 0px 500px;
  
}


.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 550px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
    gap: 10px;
}

.image{
    left: 10px;
 
    margin-top: 50px;
}
.res{
    width: 500px;
    height: 500px;
    left: 0px;
}

