.nav{
  margin: -210px -884px 225px -200px;;
  padding: '0px';
  margin: '20px';
  text-align: 'center';
  background-color: transparent;
}

.logo{
  position: fixed;
  top: -30px; 
  left: -30px;
  filter: drop-shadow(0 0 2em #674b0500);
}